<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <form [formGroup]="customerForm" (ngSubmit)="createCustomer()"
          >
            <div class="form-group">
              <span class="form-label">Code</span>
              <input formControlName="id" class="form-control" type="text" placeholder="Enter code">
              <p style="color: red"
                 *ngIf="customerForm.controls.id.hasError('required') && customerForm.controls.id.touched">
                Cannot to blank</p>
              <p style="color: red"
                 *ngIf="customerForm.controls.id.hasError('pattern') && customerForm.controls.id.touched">
                Import format (KH-XXXX)</p>
            </div>

            <div class="form-group">
              <span class="form-label">Name</span>
              <input formControlName="customerName" class="form-control" type="text" placeholder="Enter your name">
              <p style="color: red"
                 *ngIf="customerForm.controls.customerName.hasError('required') && customerForm.controls.customerName.touched">
                Cannot to blank</p>
            </div>


            <div class="form-group">
              <span class="form-label">Birthday</span>
              <input formControlName="dateOfBirth" class="form-control" type="date" required>
            </div>


            <div class="form-group">
              <span class="form-label">Id card</span>
              <input formControlName="identify" class="form-control" type="text" placeholder="Enter id card">
              <p style="color: red"
                 *ngIf="customerForm.controls.identify.hasError('required') && customerForm.controls.identify.touched">
                Cannot to blank</p>
              <p style="color: red"
                 *ngIf="customerForm.controls.identify.hasError('pattern') && customerForm.controls.identify.touched">
                ID card must have 9 numbers</p>
            </div>


            <div class="row no-margin">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Phone</span>
                  <input formControlName="phone" class="form-control" type="text" placeholder="Enter phone">
                  <p style="color: red"
                     *ngIf="customerForm.controls.phone.hasError('required') && customerForm.controls.phone.touched">
                    Cannot to blank</p>
                  <p style="color: red"
                     *ngIf="customerForm.controls.phone.hasError('pattern') && customerForm.controls.phone.touched">
                    Incorrect phone number</p>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Email</span>
                  <input formControlName="email" class="form-control" type="email" placeholder="Enter your email">
                  <p style="color: red"
                     *ngIf="customerForm.controls.email.hasError('required') && customerForm.controls.email.touched">
                    Cannot to blank</p>
                  <p style="color: red"
                     *ngIf="customerForm.controls.email.hasError('email') && customerForm.controls.email.touched">
                    email is not correct</p>
                </div>
              </div>
            </div>


            <div class="form-group">
              <span class="form-label">Address</span>
              <input formControlName="address" class="form-control" type="text" placeholder="Enter address">
            </div>


            <div class="row no-margin">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Gender</span>
                  <select formControlName="gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <span class="form-label">Customer type</span>
                  <select formControlName="customerType" class="form-control">
                    <option value="Diamond">Diamond</option>
                    <option value="Platinum">Platinum</option>
                    <option value="Gold">Gold</option>
                    <option value="Silver">Silver</option>
                    <option value="Member">Member</option>
                  </select>
                  <span class="select-arrow"></span>
                </div>
              </div>
            </div>
            <div class="row no-margin">
              <div class="col-sm-6">
                <div class="form-group">
                  <button type="submit" routerLink="/customer/list" class="submit-btn">Cancel</button>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">

                  <button type="submit" [disabled]="!customerForm.valid" class="submit-btn">Submit</button>
                </div>
              </div>
            </div>
            <!--            <div class="form-btn">-->
            <!--              <button type="submit" [disabled]="!customerForm.valid" class="submit-btn">Submit</button>-->
            <!--              <button type="submit" routerLink="/customer/list" class="submit-btn">Cancel</button>-->
            <!--            </div>-->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
