<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="booking-form">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"
          >


            <div class="form-group">
              <span class="form-label">Gmail</span>
              <input formControlName="gmail" name="gmail" class="form-control" type="text" placeholder="Enter gmail">
              <p style="color: red"
                 *ngIf="registerForm.controls.gmail.hasError('email') && registerForm.controls.gmail.touched">Đúng định
                dạng Gmail</p>
              <p style="color: red"
                 *ngIf="registerForm.controls.gmail.hasError('required') && registerForm.controls.gmail.touched">Không
                được để trống</p>
            </div>


<!--            Password và repeat-->
            <div class="form-group">
              <span class="form-label">Password</span>
              <input formControlName="password" class="form-control" type="password" placeholder="Enter password">
              <p style="color: red"
                 *ngIf="registerForm.controls.password.hasError('required') && registerForm.controls.password.touched">
                Không được
                để trống</p>
              <p style="color: red"
                 *ngIf="registerForm.controls.password.hasError('minLength') && registerForm.controls.password.touched">
                Độ dài phải là 6</p>
            </div>

            <div class="form-group">
              <span class="form-label">Confirm password</span>
              <input formControlName="confirmPassword" class="form-control" type="password" placeholder="Enter password">
              <p style="color: red"
                 *ngIf="registerForm.controls.confirmPassword.hasError('required') && registerForm.controls.confirmPassword.touched">
                Không được
                để trống</p>
              <p style="color: red"
                 *ngIf="registerForm.controls.confirmPassword.hasError('minLength') && registerForm.controls.confirmPassword.touched">
                Độ dài phải là 6</p>
            </div>
            <p *ngIf="registerForm.hasError('confirmPassword') && registerForm.touched" style="color: red"> Sai mật khẩu </p>
            <div class="form-group">
              <span class="form-label">Country</span>
              <select formControlName="country" class="form-control">
                <option>Đà Nẵng</option>
                <option>Hà Nội</option>
                <option>Sài Gòn</option>
              </select>
              <p style="color: red"
                 *ngIf="registerForm.controls.country.hasError('required') && registerForm.controls.country.touched">
                Không được
                để trống</p>
              <span class="select-arrow"></span>
            </div>
            <div class="form-group">
              <span class="form-label">Age</span>
              <input formControlName="age" class="form-control" type="number" placeholder="Enter Age">
              <p style="color: red"
                 *ngIf="registerForm.controls.age.hasError('required') && registerForm.controls.age.touched">
                Không được
                để trống</p>
              <p style="color: red"
                 *ngIf="registerForm.controls.age.hasError('min') && registerForm.controls.age.touched">
                Phải lớn hơn 18 tuổi</p>
            </div>


            <div class="form-group">
              <span class="form-label">Phone</span>
              <input formControlName="phone" class="form-control" type="text" placeholder="Enter phone">
              <p style="color: red"
                 *ngIf="registerForm.controls.phone.hasError('required') && registerForm.controls.phone.touched">
                Không được
                để trống</p>
              <p style="color: red"
                 *ngIf="registerForm.controls.phone.hasError('pattern') && registerForm.controls.phone.touched">
                Đúng định dạng số điện thoại</p>
            </div>

            <div formControlName="gender" class="form-group">
              <span class="form-label">Gender</span>
              <div class="form-check form-check-inline">
                <input  type="checkbox" value="option1">
                <label>Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input  formControlName="phone" type="checkbox" value="option2">
                <label>Female</label>
              </div>
               <p style="color: red"
                  *ngIf="registerForm.controls.gender.hasError('required') && registerForm.controls.gender.touched">
              Không được
              để trống</p>
            </div>


            <div class="form-btn">
              <button class="submit-btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

