<section class="page-section bg-light" id="portfolio">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase" style="background:lightgoldenrodyellow">CÁC LOẠI PHÒNG</h2>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 1-->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" style="height: 221px" src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722773/722773/160407105.jpg?auto=format,compress&fit=crop&crop=entropy&w=1536&q=75"  width="700px" height="670px" />
          </a>

          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Phòng suite hướng biển</div>
            <div class="portfolio-caption-subheading text-muted">Diện tích:45m <sup>2</sup></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 2-->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" style="height: 221px" src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/724017/724017/Bedroom.jpg?auto=format,compress&fit=crop&crop=entropy&w=1536&q=75" width="700px" height="700px" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Phòng superior hướng hồ</div>
            <div class="portfolio-caption-subheading text-muted">Diện tích : 47.1m <sup>2</sup></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 3-->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" style="height: 221px" src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722779/722779/63984540_XL.jpg?auto=format,compress&fit=crop&crop=entropy&w=1536&q=75"  width="700px" height="700px" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Phòng Deluxe hướng biển</div>
            <div class="portfolio-caption-subheading text-muted">Diện tích : 43.7m <sup>2</sup></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 4-->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" style="height: 221px" src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/723983/723983/FV_Bedroom3_Three_Bedroom_Villa.jpg?auto=format,compress&fit=crop&crop=entropy&w=1536&q=75"  width="700px" height="700px" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Phòng gác mái</div>
            <div class="portfolio-caption-subheading text-muted">Diện tích : 52m <sup>2</sup></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 5-->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" style="height: 221px" src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/724017/724017/Bedroom.jpg?auto=format,compress&fit=crop&crop=entropy&w=1536&q=75" width="700px" height="700px" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Phòng Superior</div>
            <div class="portfolio-caption-subheading text-muted">Diện tích : 43.1m <sup>2</sup></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 6-->
        <div class="portfolio-item">
          <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" style="height: 221px" src="https://tbb-prod-apac.imgix.net/attachments/room_type_photos/images/722800/722800/128145956.jpg?auto=format,compress&fit=crop&crop=entropy&w=1536&q=75" width="700px" height="700px" />
          </a>
          <div class="portfolio-caption">
            <div class="portfolio-caption-heading">Phòng family</div>
            <div class="portfolio-caption-subheading text-muted">Diện tích : 64m <sup>2</sup></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
