<div class="container-fluid">
  <div class="row">
    <div>
      <h1>Calculator</h1>
      <table>
        <tr>
          <td>Number</td>
          <td>
            <input type="number" [(ngModel)]="first"  >
          </td>
        </tr>
        <tr>
          <td>Number</td>
          <td>
            <input type="number" [(ngModel)]="second">
          </td>
        </tr>
        <tr>
          <td>Operator</td>
          <td>
            <button (click)="addition()">+</button>
            <button (click)="subtraction()">-</button>
            <button (click)="multiplication()">*</button>
            <button (click)="division()">/</button>
          </td>
        </tr>
        <tr>
          <td>
            <button (click)="calcutator()">Calculator</button>
          </td>
          <td>
            <input type="text" value="{{result}}">
          </td>
      </table>
    </div>
  </div>
</div>
